[submodule "liquidsoap"]
	path = liquidsoap
	url = https://github.com/savonet/liquidsoap.git
        ignore = dirty
[submodule "ocaml-cry"]
	path = ocaml-cry
	url = https://github.com/savonet/ocaml-cry.git
        ignore = dirty
[submodule "ocaml-ao"]
	path = ocaml-ao
	url = https://github.com/savonet/ocaml-ao.git
        ignore = dirty
[submodule "ocaml-portaudio"]
	path = ocaml-portaudio
	url = https://github.com/savonet/ocaml-portaudio.git
        ignore = dirty
[submodule "ocaml-alsa"]
	path = ocaml-alsa
	url = https://github.com/savonet/ocaml-alsa.git
        ignore = dirty
[submodule "ocaml-fdkaac"]
	path = ocaml-fdkaac
	url = https://github.com/savonet/ocaml-fdkaac.git
        ignore = dirty
[submodule "ocaml-pulseaudio"]
	path = ocaml-pulseaudio
	url = https://github.com/savonet/ocaml-pulseaudio.git
        ignore = dirty
[submodule "ocaml-bjack"]
	path = ocaml-bjack
	url = https://github.com/savonet/ocaml-bjack.git
        ignore = dirty
[submodule "ocaml-mad"]
	path = ocaml-mad
	url = https://github.com/savonet/ocaml-mad.git
        ignore = dirty
[submodule "ocaml-lame"]
	path = ocaml-lame
	url = https://github.com/savonet/ocaml-lame.git
        ignore = dirty
[submodule "ocaml-shine"]
	path = ocaml-shine
	url = https://github.com/savonet/ocaml-shine.git
        ignore = dirty
[submodule "ocaml-faad"]
	path = ocaml-faad
	url = https://github.com/savonet/ocaml-faad.git
        ignore = dirty
[submodule "ocaml-ladspa"]
	path = ocaml-ladspa
	url = https://github.com/savonet/ocaml-ladspa.git
        ignore = dirty
[submodule "ocaml-soundtouch"]
	path = ocaml-soundtouch
	url = https://github.com/savonet/ocaml-soundtouch.git
        ignore = dirty
[submodule "ocaml-samplerate"]
	path = ocaml-samplerate
	url = https://github.com/savonet/ocaml-samplerate.git
        ignore = dirty
[submodule "ocaml-dssi"]
	path = ocaml-dssi
	url = https://github.com/savonet/ocaml-dssi.git
        ignore = dirty
[submodule "ocaml-xmlplaylist"]
	path = ocaml-xmlplaylist
	url = https://github.com/savonet/ocaml-xmlplaylist.git
        ignore = dirty
[submodule "ocaml-lastfm"]
	path = ocaml-lastfm
	url = https://github.com/savonet/ocaml-lastfm.git
        ignore = dirty
[submodule "ocaml-lo"]
	path = ocaml-lo
	url = https://github.com/savonet/ocaml-lo.git
        ignore = dirty
[submodule "ocaml-dtools"]
	path = ocaml-dtools
	url = https://github.com/savonet/ocaml-dtools.git
        ignore = dirty
[submodule "ocaml-duppy"]
	path = ocaml-duppy
	url = https://github.com/savonet/ocaml-duppy.git
        ignore = dirty
[submodule "ocaml-mm"]
	path = ocaml-mm
	url = https://github.com/savonet/ocaml-mm.git
        ignore = dirty
[submodule "ocaml-ffmpeg"]
	path = ocaml-ffmpeg
	url = https://github.com/savonet/ocaml-ffmpeg.git
[submodule "ocaml-frei0r"]
	path = ocaml-frei0r
	url = https://github.com/savonet/ocaml-frei0r.git
[submodule "ocaml-srt"]
	path = ocaml-srt
	url = https://github.com/savonet/ocaml-srt.git
[submodule "ocaml-lilv"]
	path = ocaml-lilv
	url = https://github.com/savonet/ocaml-lilv.git
[submodule "ocaml-mem_usage"]
	path = ocaml-mem_usage
	url = https://github.com/savonet/ocaml-mem_usage.git
[submodule "ocaml-metadata"]
	path = ocaml-metadata
	url = https://github.com/savonet/ocaml-metadata.git
[submodule "ocaml-xiph"]
	path = ocaml-xiph
	url = https://github.com/savonet/ocaml-xiph
