body {
    background: url('images/design/grey_scale.png') repeat-x #fff ;
    padding: 0;
    margin: 0;
    font-family: Bitstream Vera Sans, Tahoma, Verdana, Helvetica, sans-serif;
}

div.section {
  position: absolute;
  width: 20% ;
  padding-bottom: 20px
}
div.section ul { padding-left: 1.2em }
#savonet { left: 10% ; top: 20% }
#community { right: 10% ; top: 20% }
#liquidsoap { left: 35% ; right: 35% ; top: 10% ; width: 30% }

img#logo { height: 7em ; border: 0px ; float: left; margin: 10px }

div.section h1 {
  // background: #111 ;
  color: #fff ;
  font-size: 1.5em ;
  padding-top: 5px ;
  text-align: center;
  background: #906 ;
  display: block ;
  width: 75% ;
  border-radius: 10px 10px 0px 0px ;
  -moz-border-radius: 10px 10px 0px 0px ;
  margin: 0px 0px 0px 0px ;
}

div.section > div.content {
  padding: 15px ;
  background: #fff ;
  border-color: #906 ;
  border-style: solid ;
  border-width: 5px ;
  margin: 0px 0px 0px 0px ;
}

#liquidsoap h1 { margin-left: auto ; margin-right: auto }
#liquidsoap .content
{
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
}
#community h1 { margin-left: 0 ; margin-right: auto }
#community .content
{
    border-radius: 0px 20px 20px 20px;
    -moz-border-radius: 0px 20px 20px 20px;
}
#savonet h1 { margin-right: 0 ; margin-left: auto }
#savonet .content
{
    border-radius: 20px 0px 20px 20px;
    -moz-border-radius: 20px 0px 20px 20px;
}

div.item div.title { font-weight: bold }
div.item div.content {
  margin-left: 1em ;
  border-width: 5px ;
  border-radius: 0px 5px 5px 5px ;
  -moz-border-radius: 0px 5px 5px 5px ;
  margin-bottom: 0.5em ;
}

div.section h2 { color: #906 }

.menu {
  text-align: center;
  position: relative ;
  left: 10% ;
  font-weight: bold
}

.menu ul{
  padding-left: 0;
  margin: 0;
  height: 20px;
}

.menu ul li{
  list-style: none;
  display: inline;
}

.menu ul li a{
  padding: 2px 0.5em;
  text-decoration: none;
  float: left;
  color: white;
  background-color: #906;
  border-radius: 0px 0px 10px 10px ;
  -moz-border-radius: 0px 0px 10px 10px ;
  border: 0px;
}

.menu ul li a:hover{
  background-color: #551A8B; /*You Can Change This Color*/
}

#liq123 {
  list-style-type: none;
  padding-left: 0;
  margin: 0 2em 0 2em ;
}

#liq123 li a {
  text-align: center;
  color: white;
  display: block;
  text-decoration: none;
  padding: 3px 0px 3px 0 ;
}

#liq123 li#liq123-is a {
        background: #c00 ;
}

#liq123 li#liq123-dl a {
  background: #906;
}

#liq123 li#liq123-ej a {
  background: #609;
}
