body{
	background-color:#d8d8ee;
	font-family:verdana,sans;
	margin:0;
}
h1#msgs{
	font-size:2.5em;

	background-color:#7f7f9c;
	margin:0;
	padding:5px;
	color:#fc0;;

}
h2#msgs{
	padding-left:0.5em;
}
h2#msgs img{
	margin-right:0.1em;
}
ul#msgs{
	list-style:none;
	padding:0;
	margin:0;
	width:80%;
}
ul#msgs h2{
	padding:0;
	border-bottom:1px solid #fff;
	color:#fff;
}
ul#msgs h3 {
	padding:0 0 0 0.7em;
	margin:0 0 0.2em 0;
	font-size:0.8em;
	color:#fff;
}
ul#msgs h4 {
        padding:0.5em 0 0 0.7em;
        margin:0 0 0.1em 0;
        font-size:0.8em;
        color:#fff;
}
ul#msgs h5 {
        padding:0.5em 0 0 1em;
        margin:0 0 0.1em 0;
        font-size:0.7em;
        color:#fff;
}
ul#msgs p{
        margin-left:1.2em;
}


table#msgList{
	border:1px solid #000;
	margin-left:1em;
	margin-right:1em;
	text-align:center;
	background-color:#fff;
	width:97%;
}

table#msgList th{
	background-color:#dddddd;
	border-color:#666666;
}

table#msgList tr.row1{
	background-color:#fff;
}

table#msgList tr.row0{
	background-color:#edf3fe;
}


table#msgList td{
	border-color:#666666;
}

table#msgList td:normal{
	background-color:#d9d9d9;
}

form#msg{		
	color:#fff;
}
form#msg ul{
	padding-top:20px;
	list-style:none;
}
form#msg ul li{}
form#msg ul li span{
	float:left;
	width:100px;
}
form#msg ul li input,form#msg ul li textarea,form#msg ul li select{
	margin: 5px 0 5px 100px;
}
form#msg ul li input.submit{
	background-color:white;
	border:1px solid #000;
	font-weight:bold;
}
.xsnazzy .xboxcontent ul{
	margin-top:0;
	margin-bottom:0;
}

/* CSSPlay.co.uk code */
.xsnazzy h1, .xsnazzy h2, .xsnazzy p {margin:0 10px; letter-spacing:1px; }
.xsnazzy form{
}
.xsnazzy h1 {font-size:2.5em; color:#fc0;}
.xsnazzy h2 {font-size:2em; color:#234; border:0;}
.xsnazzy p {padding-bottom:0.5em; color:#eee;}
.xsnazzy h2 {padding-top:0.5em; padding-left:10px;}
.xsnazzy {background: transparent; margin:1em;}

.xsnazzy em {display:block; width:0; height:0; color:#d8d8ee; overflow:hidden; border-top:12px solid #fff; border-left:12px dotted transparent; border-right:12px dotted transparent; margin-left:50px;}
/* hack for IE5.5 */
* html .xsnazzy em {width:24px; height:12px; w\idth:0; hei\ght:0;}



.xb1, .xb2, .xb3, .xb4, .xb5, .xb6, .xb7 {display:block; overflow:hidden; font-size:0;}
.xb1, .xb2, .xb3, .xb4, .xb5, .xb6 {height:1px;}
.xb4, .xb5, .xb6, .xb7 {background:#ccc; border-left:1px solid #fff; border-right:1px solid #fff;}

.xb1 {margin:0 8px; background:#fff;}
.xb2 {margin:0 6px; background:#fff;}
.xb3 {margin:0 4px; background:#fff;}
.xb4 {margin:0 3px; background:#7f7f9c; border-width:0 5px;}

.xb5 {margin:0 2px; background:#7f7f9c; border-width:0 4px;}
.xb6 {margin:0 2px; background:#7f7f9c; border-width:0 3px;} 
.xb7 {margin:0 1px; background:#7f7f9c; border-width:0 3px; height:2px;} 

.xboxcontent {display:block; background:#7f7f9c; border:3px solid #fff; border-width:0 3px;}
