<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Liquidsoap :: audio stream generation</title>
    <div metal:use-macro="macros/site-macros/cssinc">CSS include here..</div>
<!--    <script type="text/javascript" src="mootools.v1.11.js"></script>-->
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div id="logo">
          <h1>Liquidsoap</h1>
          <h2>audio stream generation</h2>
        </div>
        <div metal:use-macro="macros/site-macros/navbar">Menu Macro defined in template.html...</div>
      </div>
      <div id="content">
        <h3>SCRIPT_NAME</h3>
        <pre tal:content="structure page/content">
	</pre>
	<a href="SCRIPT_NAME">Download</a>
      </div>
       <div metal:use-macro="macros/site-macros/footer">Footer include here..</div>
    </div>
  </body>
</html>

