<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Liquidsoap :: audio stream generation</title>
    <div metal:define-macro="cssinc">
      <link rel="stylesheet" type="text/css" tal:attributes="href string:${page/depth}style.css" />
      <link rel="stylesheet" type="text/css" tal:attributes="href string:${page/depth}homepage.css" />
    </div>
<!--    <script type="text/javascript" src="mootools.v1.11.js"></script>-->
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div id="logo">
          <h1>Liquidsoap</h1>
          <h2>audio stream generation</h2>
        </div>
       <div metal:define-macro="navbar">
        <ul id="menu">
          <li id="menu-about" tal:condition="ispage/index.html" class="active">
            <a tal:attributes="href string:${page/depth}index.html">about</a></li>
          <li id="menu-about" tal:condition="not:ispage/index.html">
            <a tal:attributes="href string:${page/depth}index.html">about</a></li>
          <li id="menu-download" tal:condition="ispage/download.html" class="active">
            <a tal:attributes="href string:${page/depth}download.html">download</a></li>
          <li id="menu-download" tal:condition="not:ispage/download.html">
            <a tal:attributes="href string:${page/depth}download.html">download</a></li>
          <li id="menu-support" tal:condition="ispage/documentation.html" class="active">
            <a tal:attributes="href string:${page/depth}documentation.html">documentation</a></li>
          <li id="menu-support" tal:condition="not:ispage/documentation.html">
            <a tal:attributes="href string:${page/depth}documentation.html">documentation</a></li>
          <li id="menu-developers"><a href="http://savonet.rastageeks.org/">developpers</a></li>
        </ul>
       </div>
      </div>
      <div id="content">
        <div tal:content="structure page/content">Content goes here...</div>
      </div>
      <div metal:define-macro="footer">
        <div id="footer">&copy; 2003-2008 Savonet team</div>
      </div>
    </div>
  </body>
</html>

